
<div class="card">

    <div class="card-header">
        <button type="button" routerLink="/agregar" class="btn btn-primary">Agregar un Empleado</button>     
    </div>
    <div class="card-body">
        <h2>Empleados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Empleado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros; let icontrol=index">
                    <td scope="row">{{ registro.id }}</td>
                    <td>{{ registro.nombre }}</td>
                    <td>
                        <nav class="navbar navbar-expand navbar-light bg-light">
                            <div class="nav navbar-nav">
                                <a class="nav-item nav-link" routerLink="/editar/{{ registro.id }}" >Editar</a>
                            </div>
                        </nav>
                    
                    </td>
                    <td>
                        <nav class="navbar navbar-expand navbar-light bg-light">
                            <div class="nav navbar-nav">
                                <button type="button" (click)="borrarRegistro( registro.id, icontrol )"  class="btn btn-danger">Borrar</button>
                            </div>
                        </nav>
                    
                    </td>
            </tbody>
        </table>
    </div>
</div>
